<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAddIn_TableOfContents.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelAddIn_TableOfContents.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ExcelAddIn_TableOfContents.Properties.Settings>
            <setting name="TocWorksheetName" serializeAs="String">
                <value />
            </setting>
            <setting name="WorksheetCreatedDatePropName" serializeAs="String">
                <value />
            </setting>
            <setting name="TocColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="TocCustomProperties" serializeAs="String">
                <value />
            </setting>
            <setting name="TocStyle" serializeAs="String">
                <value>TableStyleMedium15</value>
            </setting>
            <setting name="LastUpdateCheck" serializeAs="String">
                <value />
            </setting>
        </ExcelAddIn_TableOfContents.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ExcelAddIn_TableOfContents.Properties.Settings>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/ahaenggli/ExcelAddIn_TableOfContents/releases/download/latest/ExcelAddIn_TableOfContents.zip</value>
            </setting>
        </ExcelAddIn_TableOfContents.Properties.Settings>
    </applicationSettings>
</configuration>